.contato{
    display: flex;
    width: 1200px;
    max-width: 1200px;
    padding: 16px 358px 16px 16px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px 32px;
    flex-wrap: wrap;
}

@media screen and (max-width: 912px){
    .contato{
        display: flex;
        flex-direction: column;
    }
}